In [2]:
import pandas
import matplotlib
from bokeh.plotting import figure, output_notebook, show

In [3]:
%load_ext google.cloud.bigquery
%matplotlib inline

In [4]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/home/mforde/google-creds/creds.json'
print('creds path: {}'.format(os.environ.get('GOOGLE_APPLICATION_CREDENTIALS')))

creds path: /home/mforde/google-creds/creds.json

In [5]:
%%bigquery
SELECT possession_arrow, COUNT(*)
FROM `bigquery-public-data.ncaa_basketball.mbb_pbp_sr`
WHERE game_id = "2be93048-4b1d-4ef3-bef4-bdeae78b2635"
GROUP BY possession_arrow
LIMIT 50

                       possession_arrow  f0_
0  1f99a164-d593-4d81-85d5-0d7889d6f486  444

In [32]:
%%bigquery
SELECT game_clock, FORMAT_TIME("%H:%M", PARSE_TIME("%H:%M", game_clock)) AS padded_game_clock
FROM `bigquery-public-data.ncaa_basketball.mbb_pbp_sr`
WHERE game_id = "2be93048-4b1d-4ef3-bef4-bdeae78b2635"
ORDER BY date_game_clock ASC
LIMIT 50

   game_clock date_game_clock
0       00:00           00:00
1       00:00           00:00
2       00:01           00:01
3       00:01           00:01
4       00:04           00:04
5       00:04           00:04
6       00:04           00:04
7       00:04           00:04
8       00:04           00:04
9       00:04           00:04
10      00:04           00:04
11      00:04           00:04
12      00:04           00:04
13      00:04           00:04
14      00:04           00:04
15      00:04           00:04
16      00:04           00:04
17      00:06           00:06
18      00:06           00:06
19      00:06           00:06
20      00:06           00:06
21      00:17           00:17
22      00:25           00:25
23      00:25           00:25
24      00:25           00:25
25      00:25           00:25
26      00:25           00:25
27      00:25           00:25
28      00:26           00:26
29      00:26           00:26
30      00:28           00:28
31      00:31           00:31
32      00:33           00:33
33      00:44           00:44
34      00:44           00:44
35      00:44           00:44
36      00:44           00:44
37      00:45           00:45
38      00:47           00:47
39      00:55           00:55
40      00:57           00:57
41       1:02           01:02
42       1:04           01:04
43       1:10           01:10
44       1:10           01:10
45       1:10           01:10
46       1:13           01:13
47       1:13           01:13
48       1:13           01:13
49       1:14           01:14

In [36]:
%%bigquery
SELECT home_name, away_name,
    CASE possession_team_id
        WHEN home_id THEN home_name
        WHEN away_id THEN away_name
    END AS possession_team_name,
    team_basket,
    period,
    FORMAT_TIME("%H:%M", PARSE_TIME("%H:%M", game_clock)) AS padded_game_clock,
    elapsed_time_sec,
    event_type,
    points_scored,
    event_coord_x,
    event_coord_y
FROM `bigquery-public-data.ncaa_basketball.mbb_pbp_sr`
WHERE game_id = "2be93048-4b1d-4ef3-bef4-bdeae78b2635" 
ORDER BY period ASC, padded_game_clock DESC

,home_name,away_name,possession_team_name,team_basket,period,padded_game_clock,elapsed_time_sec,event_type,points_scored,event_coord_x,event_coord_y
0,Wolverines,Cougars,Cougars,right,1,20:00,0,opentip,NaN,557.0,301.0
1,Wolverines,Cougars,Wolverines,right,1,19:41,19,twopointmade,2.0,993.0,298.0
2,Wolverines,Cougars,None,left,1,19:13,47,threepointmiss,NaN,336.0,400.0
3,Wolverines,Cougars,Cougars,right,1,19:11,49,rebound,NaN,336.0,400.0
4,Wolverines,Cougars,None,right,1,18:41,79,twopointmiss,NaN,1024.0,305.0
5,Wolverines,Cougars,Wolverines,left,1,18:39,81,rebound,NaN,1024.0,305.0
6,Wolverines,Cougars,None,left,1,18:26,94,threepointmiss,NaN,342.0,305.0
7,Wolverines,Cougars,Wolverines,left,1,18:24,96,rebound,NaN,342.0,305.0
8,Wolverines,Cougars,None,left,1,18:21,99,threepointmiss,NaN,314.0,399.0
9,Wolverines,Cougars,Cougars,right,1,18:19,101,rebound,NaN,314.0,399.0
10,Wolverines,Cougars,Wolverines,right,1,18:03,117,twopointmade,2.0,1041.0,287.0
11,Wolverines,Cougars,Cougars,left,1,17:47,133,turnover,NaN,347.0,241.0
12,Wolverines,Cougars,None,left,1,17:47,133,lineupchange,NaN,0.0,0.0
13,Wolverines,Cougars,Cougars,left,1,17:47,133,offensivefoul,NaN,347.0,241.0
14,Wolverines,Cougars,Cougars,left,1,17:47,133,offensivefoul,NaN,347.0,241.0
15,Wolverines,Cougars,Cougars,left,1,17:47,133,offensivefoul,NaN,347.0,241.0
16,Wolverines,Cougars,None,right,1,17:32,148,twopointmiss,NaN,1013.0,286.0
17,Wolverines,Cougars,Wolverines,left,1,17:30,150,rebound,NaN,1013.0,286.0
18,Wolverines,Cougars,Wolverines,right,1,17:30,150,personalfoul,NaN,1030.0,296.0
19,Wolverines,Cougars,Wolverines,right,1,17:30,150,personalfoul,NaN,1030.0,296.0
20,Wolverines,Cougars,None,left,1,17:18,162,twopointmiss,NaN,96.0,276.0
21,Wolverines,Cougars,Wolverines,left,1,17:17,163,rebound,NaN,96.0,276.0
22,Wolverines,Cougars,Wolverines,left,1,17:03,177,rebound,NaN,230.0,293.0
23,Wolverines,Cougars,None,right,1,17:03,177,lineupchange,NaN,0.0,0.0
24,Wolverines,Cougars,None,left,1,17:03,177,freethrowmiss,NaN,230.0,293.0
25,Wolverines,Cougars,Wolverines,left,1,17:03,177,freethrowmade,1.0,233.0,291.0
26,Wolverines,Cougars,Wolverines,right,1,17:03,177,shootingfoul,NaN,85.0,274.0
27,Wolverines,Cougars,Wolverines,right,1,17:03,177,shootingfoul,NaN,85.0,274.0
28,Wolverines,Cougars,None,left,1,16:48,192,threepointmiss,NaN,347.0,250.0
29,Wolverines,Cougars,Cougars,right,1,16:46,194,rebound,NaN,347.0,250.0
...,...,...,...,...,...,...,...,...,...,...,...
414,Wolverines,Cougars,Cougars,left,2,00:45,2355,rebound,NaN,777.0,269.0
415,Wolverines,Cougars,Cougars,right,2,00:44,2356,personalfoul,NaN,1020.0,290.0
416,Wolverines,Cougars,Cougars,right,2,00:44,2356,personalfoul,NaN,1020.0,290.0
417,Wolverines,Cougars,Cougars,left,2,00:44,2356,freethrowmade,1.0,223.0,296.0
418,Wolverines,Cougars,Wolverines,left,2,00:44,2356,freethrowmade,1.0,226.0,291.0
419,Wolverines,Cougars,None,right,2,00:28,2372,twopointmiss,NaN,1031.0,359.0
420,Wolverines,Cougars,None,right,2,00:26,2374,twopointmiss,NaN,1030.0,304.0
421,Wolverines,Cougars,Wolverines,right,2,00:26,2374,rebound,NaN,1031.0,359.0
422,Wolverines,Cougars,Cougars,right,2,00:25,2375,personalfoul,NaN,1035.0,293.0
423,Wolverines,Cougars,Cougars,right,2,00:25,2375,personalfoul,NaN,1035.0,293.0
424,Wolverines,Cougars,None,left,2,00:25,2375,deadball,NaN,NaN,NaN
425,Wolverines,Cougars,Cougars,left,2,00:25,2375,rebound,NaN,1030.0,304.0
426,Wolverines,Cougars,Cougars,left,2,00:25,2375,freethrowmiss,NaN,228.0,290.0
427,Wolverines,Cougars,Wolverines,left,2,00:25,2375,freethrowmade,1.0,230.0,291.0
428,Wolverines,Cougars,Wolverines,None,2,00:17,2383,review,NaN,NaN,NaN
429,Wolverines,Cougars,None,right,2,00:06,2394,twopointmiss,NaN,1031.0,279.0
430,Wolverines,Cougars,None,right,2,00:04,2396,lineupchange,NaN,0.0,0.0
431,Wolverines,Cougars,Cougars,right,2,00:04,2396,personalfoul,NaN,1003.0,287.0
432,Wolverines,Cougars,Cougars,left,2,00:04,2396,rebound,NaN,1031.0,279.0
433,Wolverines,Cougars,None,left,2,00:04,2396,deadball,NaN,NaN,NaN
434,Wolverines,Cougars,None,right,2,00:04,2396,lineupchange,NaN,0.0,0.0
435,Wolverines,Cougars,Cougars,right,2,00:04,2396,personalfoul,NaN,1003.0,287.0
436,Wolverines,Cougars,Wolverines,right,2,00:04,2396,teamtimeout,NaN,567.0,297.0
437,Wolverines,Cougars,None,right,2,00:04,2396,teamtimeout,NaN,566.0,290.0
438,Wolverines,Cougars,Wolverines,right,2,00:04,2396,rebound,NaN,232.0,288.0
439,Wolverines,Cougars,None,left,2,00:04,2396,freethrowmiss,NaN,232.0,288.0
440,Wolverines,Cougars,Cougars,left,2,00:04,2396,freethrowmiss,NaN,232.0,284.0
441,Wolverines,Cougars,Cougars,right,2,00:01,2399,assist,NaN,776.0,461.0
442,Wolverines,Cougars,Cougars,right,2,00:01,2399,threepointmade,3.0,776.0,461.0
443,Wolverines,Cougars,None,None,2,00:00,2400,endperiod,NaN,NaN,NaN

In [35]:
wolverines_cougars_pbp.to_csv("wolverines_cougars_pbp.csv")

In [18]:
%%bigquery 
SELECT market, alias, id, school_ncaa
FROM `bigquery-public-data.ncaa_basketball.mbb_teams`
WHERE id = "1f99a164-d593-4d81-85d5-0d7889d6f486"

    market alias                                    id school_ncaa
0  Houston   HOU  1f99a164-d593-4d81-85d5-0d7889d6f486     Houston