In [28]:
import pandas
import matplotlib
from bokeh.plotting import figure, output_notebook, show

In [29]:
%load_ext google.cloud.bigquery
%matplotlib inline

In [30]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/home/mforde/google-creds/creds.json'
print('creds path: {}'.format(os.environ.get('GOOGLE_APPLICATION_CREDENTIALS')))

creds path: /home/mforde/google-creds/creds.json

In [33]:
%%bigquery city_count
SELECT venue_city, venue_state, venue_zip, COUNT(*) AS number_games
FROM `bigquery-public-data.ncaa_basketball.mbb_games_sr`
WHERE venue_country="USA" AND season=2017
GROUP BY venue_city, venue_state, venue_zip
LIMIT 500

In [64]:
city_count.to_csv("sample_geo_data.csv")

In [2]:
#import googlemaps
#gmaps = googlemaps.Client(key='') # INSERT KEY HERE

In [63]:
import json
import pandas

lat_list = []
lng_list = []

for i in range(0,len(city_count)):
    city = city_count.loc[i]['venue_city']
    state = city_count.loc[i]['venue_state']
    results = gmaps.geocode(city + ", " + state)
    lat = results[0]['geometry']['location']['lat']
    lng = results[0]['geometry']['location']['lng']
    lat_list.append(lat)
    lng_list.append(lng)
    print(str(i) + ": " + city + ", " + state + ": " + str(lat) + ", " + str(lng))

city_count['lat'] = pandas.Series(lat_list)
city_count['lng'] = pandas.Series(lng_list)

city_count.head()
#geocode_results = gmaps.geocode('Gainesville')
# geocode_results[0]['geometry']['location']['lat']
# geocode_results[0]['geometry']['location']['lng']
# print(geocode_results[0]['geometry']['location']['lat'])

0: Bridgeport, CT: 41.1792258, -73.1894384
1: Mobile, AL: 30.6953657, -88.0398912
2: Columbus, OH: 39.9611755, -82.99879419999999
3: Amherst, MA: 42.3732216, -72.5198537
4: Boulder, CO: 40.0149856, -105.2705456
5: New Orleans, LA: 29.95106579999999, -90.0715323
6: Jacksonville, FL: 30.3321838, -81.65565099999999
7: Houston, TX: 29.7604267, -95.3698028
8: Boone, NC: 36.216795, -81.6745517
9: Shreveport, LA: 32.5251516, -93.7501789
10: Houston, TX: 29.7604267, -95.3698028
11: Baton Rouge, LA: 30.4514677, -91.18714659999999
12: Brooklyn, NY: 40.6781784, -73.9441579
13: Reno, NV: 39.5296329, -119.8138027
14: Cedar Falls, IA: 42.5348993, -92.4453161
15: Midland, MI: 43.6155825, -84.2472116
16: Philadelphia, PA: 39.9525839, -75.1652215
17: Smithfield, RI: 41.9220496, -71.54951009999999
18: Norfolk, VA: 36.8507689, -76.28587259999999
19: Omaha, NE: 41.2565369, -95.9345034
20: Portland, OR: 45.5154586, -122.6793461
21: Paradise, NV: 36.0971945, -115.1466648
22: Easton, PA: 40.688432, -75.2207323
23: Allston, MA: 42.3539038, -71.1337112
24: Poughkeepsie, NY: 41.7003713, -73.9209701
25: Pine Bluff, AR: 34.2284312, -92.00319549999999
26: Martin, TN: 36.3433965, -88.8503379
27: Statesboro, GA: 32.4487876, -81.7831674
28: Terre Haute, IN: 39.4667034, -87.41390919999999
29: Columbia, MO: 38.9517053, -92.3340724
30: Pittsburgh, PA: 40.44062479999999, -79.9958864
31: Spokane, WA: 47.6587802, -117.4260465
32: Boise, ID: 43.6150186, -116.2023137
33: Wilmington, NC: 34.2103894, -77.8868117
34: Miami, FL: 25.7616798, -80.1917902
35: Dayton, OH: 39.7589478, -84.1916069
36: Des Moines, IA: 41.5868353, -93.6249593
37: Detroit, MI: 42.331427, -83.0457538
38: Winston-Salem, NC: 36.09985959999999, -80.244216
39: New Orleans, LA: 29.95106579999999, -90.0715323
40: Reading, PA: 40.3356483, -75.9268747
41: Bronx, NY: 40.8447819, -73.8648268
42: Starkville, MS: 33.4503998, -88.81838719999999
43: Portland, OR: 45.5154586, -122.6793461
44: Prairie View, TX: 30.0932737, -95.9877339
45: Kent, OH: 41.1536674, -81.3578859
46: Frisco, TX: 33.1506744, -96.82361159999999
47: Washington, DC: 38.9071923, -77.0368707
48: Richmond, VA: 37.5407246, -77.4360481
49: Denver, CO: 39.7392358, -104.990251
50: Jersey City, NJ: 40.7177545, -74.0431435
51: Charlotte, NC: 35.2270869, -80.8431267
52: North Charleston, SC: 32.8771106, -80.0130514
53: Hattiesburg, MS: 31.3271189, -89.29033919999999
54: Boca Raton, FL: 26.3683064, -80.1289321
55: Lynchburg, VA: 37.4137536, -79.14224639999999
56: Macon, GA: 32.8406946, -83.6324022
57: Corpus Christi, TX: 27.8005828, -97.39638099999999
58: West Lafayette, IN: 40.4258686, -86.90806549999999
59: San Marcos, TX: 29.8832749, -97.9413941
60: Lorman, MS: 31.8768104, -91.13770079999999
61: San Luis Obispo, CA: 35.2827524, -120.6596156
62: San Antonio, TX: 29.4241219, -98.49362819999999
63: Boston, MA: 42.3600825, -71.0588801
64: Worcester, MA: 42.2625932, -71.8022934
65: Stockton, CA: 37.9577016, -121.2907796
66: Long Beach, CA: 33.7700504, -118.1937395
67: Champaign, IL: 40.1164204, -88.2433829
68: Clinton, SC: 34.4726276, -81.88065619999999
69: Philadelphia, PA: 39.9525839, -75.1652215
70: Anaheim, CA: 33.8365932, -117.9143012
71: Tuscon, AZ: 32.2226066, -110.9747108
72: Great Falls, MT: 47.5052849, -111.3007715
73: Sunrise, FL: 26.1669711, -80.25659499999999
74: Queens, NY: 40.7282239, -73.7948516
75: Irvine, CA: 33.6845673, -117.8265049
76: Greeley, CO: 40.4233142, -104.7091322
77: Corvallis, OR: 44.5645659, -123.2620435
78: Flagstaff, AZ: 35.1982836, -111.651302
79: Ann Arbor, MI: 42.2808256, -83.7430378
80: Harrisonburg, VA: 38.4495688, -78.8689155
81: Youngstown, OH: 41.0997803, -80.6495194
82: Ithaca, NY: 42.4439614, -76.5018807
83: Chicago, IL: 41.8781136, -87.6297982
84: University Park, PA: 40.8147955, -77.86531260000001
85: Lexington, KY: 38.0405837, -84.5037164
86: Berkeley, CA: 37.8715926, -122.272747
87: Valparaiso, IN: 41.4730948, -87.0611412
88: Lawrence, KS: 38.9716689, -95.2352501
89: Philadelphia, PA: 39.9525839, -75.1652215
90: Logan, UT: 41.7369803, -111.8338359
91: South Orange, NJ: 40.7489277, -74.2609903
92: Birmingham, AL: 33.5185892, -86.8103567
93: Cleveland, OH: 41.49932, -81.6943605
94: Sacramento, CA: 38.5815719, -121.4943996
95: Mount Pleasant, MI: 43.59780749999999, -84.7675139
96: Sacramento, CA: 38.5815719, -121.4943996
97: Clarksville, TN: 36.5297706, -87.3594528
98: Carbondale, IL: 37.7272727, -89.2167501
99: New Haven, CT: 41.308274, -72.9278835
100: Annapolis, MD: 38.9784453, -76.4921829
101: Santa Barbara, CA: 34.4208305, -119.6981901
102: Athens, GA: 33.9519347, -83.357567
103: Portland, OR: 45.5154586, -122.6793461
104: Omaha, NE: 41.2565369, -95.9345034
105: Bethlehem, PA: 40.6259316, -75.37045789999999
106: Washington, DC: 38.9071923, -77.0368707
107: Fairfield, CT: 41.1408363, -73.2612615
108: Teaneck, NJ: 40.8932469, -74.0116536
109: Philadelphia, PA: 39.9525839, -75.1652215
110: Moon Township, PA: 40.51697670000001, -80.22134770000001
111: Grand Forks, ND: 47.9252568, -97.0328547
112: Tuscaloosa, AL: 33.2098407, -87.56917349999999
113: Chicago, IL: 41.8781136, -87.6297982
114: Cookeville, TN: 36.162839, -85.5016423
115: Kansas City, MO: 39.0997265, -94.5785667
116: Madison, WI: 43.0730517, -89.4012302
117: Boston, MA: 42.3600825, -71.0588801
118: Wichita, KS: 37.68717609999999, -97.33005299999999
119: Natchitoches, LA: 31.7607195, -93.08627489999999
120: Malibu, CA: 34.0259216, -118.7797571
121: Pocatello, ID: 42.8621042, -112.4506191
122: Cape Girardeau, MO: 37.3058839, -89.51814759999999
123: Hempstead, NY: 40.7062128, -73.6187397
124: Estero, FL: 26.438136, -81.8067523
125: Bloomington, IN: 39.165325, -86.52638569999999
126: Fort Worth, TX: 32.7554883, -97.3307658
127: Providence, RI: 41.8239891, -71.4128343
128: Spartanburg, SC: 34.9495672, -81.9320482
129: Maui, HI: 20.7983626, -156.3319253
130: Guilderland, NY: 42.7043568, -73.9116433
131: Asheville, NC: 35.5950581, -82.5514869
132: Phoenix, AZ: 33.4483771, -112.0740373
133: Syracuse, NY: 43.0481221, -76.14742439999999
134: Sioux Falls, SD: 43.5473028, -96.728333
135: Morehead, KY: 38.1839705, -83.4326841
136: Alexandria, LA: 31.3112936, -92.4451371
137: Green Bay, WI: 44.5133188, -88.0132958
138: Chattanooga, TN: 35.0456297, -85.3096801
139: Lewisburg, PA: 40.9645293, -76.8844101
140: Fort Myers, FL: 26.640628, -81.8723084
141: Charleston, SC: 32.7764749, -79.93105120000001
142: Akron, OH: 41.0814447, -81.51900529999999
143: Athens, OH: 39.3292396, -82.1012554
144: Des Moines, IA: 41.5868353, -93.6249593
145: Fairfax, VA: 38.84622359999999, -77.30637329999999
146: Ogden, UT: 41.223, -111.9738304
147: Morgantown, WV: 39.629526, -79.95589679999999
148: Lewiston, NY: 43.1919494, -78.9853813
149: San Antonio, TX: 29.4241219, -98.49362819999999
150: Washington, DC: 38.9071923, -77.0368707
151: Norfolk, VA: 36.8507689, -76.28587259999999
152: Hamilton, NY: 42.8270136, -75.5446238
153: Orem, UT: 40.2968979, -111.6946475
154: Nashville, TN: 36.1626638, -86.7816016
155: Chicago, IL: 41.8781136, -87.6297982
156: Fort Wayne, IN: 41.079273, -85.1393513
157: Manhattan, KS: 39.18360819999999, -96.57166939999999
158: Birmingham, AL: 33.5185892, -86.8103567
159: Toledo, OH: 41.6528052, -83.5378674
160: Clemson, SC: 34.6834382, -82.8373654
161: Huntsville, AL: 34.7303688, -86.5861037
162: Tampa, FL: 27.950575, -82.4571776
163: Fayetteville, AR: 36.082156, -94.17185420000001
164: College Station, TX: 30.627977, -96.3344068
165: Conway, SC: 33.8360034, -79.0478143
166: Birmingham, AL: 33.5185892, -86.8103567
167: New Rochelle, NY: 40.9114882, -73.7823549
168: Arlington, TX: 32.735687, -97.10806559999999
169: Charlottesville, VA: 38.0293059, -78.47667810000002
170: Nashville, TN: 36.1626638, -86.7816016
171: Raleigh, NC: 35.7795897, -78.6381787
172: Washington, DC: 38.9071923, -77.0368707
173: Evansville, IN: 37.9715592, -87.5710898
174: Huntington, WV: 38.4192496, -82.44515400000002
175: Pittsburgh, PA: 40.44062479999999, -79.9958864
176: Fairborn, OH: 39.8208925, -84.01937889999999
177: Vermillion, SD: 42.7794417, -96.9292104
178: Boiling Springs, NC: 35.254292, -81.6670407
179: Nacogdoches, TX: 31.6035129, -94.6554874
180: Monroe, LA: 32.5093109, -92.1193012
181: Indianapolis, IN: 39.768403, -86.158068
182: Colorado Springs, CO: 38.8338816, -104.8213634
183: Baltimore, MD: 39.2903848, -76.6121893

184: Brooklyn, NY: 40.6781784, -73.9441579
185: Oxford, OH: 39.5069974, -84.74523099999999
186: Gainesville, FL: 29.6516344, -82.32482619999999
187: Nashville, TN: 36.1626638, -86.7816016
188: Washington, DC: 38.9071923, -77.0368707
189: Sioux Falls, SD: 43.5473028, -96.728333
190: Northridge, CA: 34.2381251, -118.530123
191: Pullman, WA: 46.7297771, -117.1817377
192: West Long Branch, NJ: 40.2903891, -74.0176381
193: Salt Lake City, UT: 40.7607793, -111.8910474
194: Conway, AR: 35.0886963, -92.4421011
195: Beaumont, TX: 30.080174, -94.1265562
196: Edinburg, TX: 26.3017374, -98.1633432
197: Asheville, NC: 35.5950581, -82.5514869
198: Phoenix, AZ: 33.4483771, -112.0740373
199: Stony Brook, NY: 40.9256538, -73.1409429
200: Towson, MD: 39.4014955, -76.6019125
201: New York, NY: 40.7127753, -74.0059728
202: Princeton, NJ: 40.3572976, -74.6672226
203: East Lansing, MI: 42.7369792, -84.48386540000001
204: Fairfield, CT: 41.1408363, -73.2612615
205: Wichita, KS: 37.68717609999999, -97.33005299999999
206: Rochester, MI: 42.680588, -83.1338214
207: Miami, FL: 25.7616798, -80.1917902
208: Nashville, TN: 36.1626638, -86.7816016
209: Chicago, IL: 41.8781136, -87.6297982
210: San Diego, CA: 32.715738, -117.1610838
211: Lowell, MA: 42.6334247, -71.31617179999999
212: Durham, NC: 35.9940329, -78.898619
213: Seattle, WA: 47.6062095, -122.3320708
214: San Francisco, CA: 37.7749295, -122.4194155
215: South Bend, IN: 41.6763545, -86.25198979999999
216: Fargo, ND: 46.8771863, -96.7898034
217: Atlanta, GA: 33.7489954, -84.3879824
218: Fresno, CA: 36.7377981, -119.7871247
219: Iowa City, IA: 41.6611277, -91.5301683
220: Piscataway, NJ: 40.554887, -74.4642861
221: Cheney, WA: 47.4873895, -117.5757622
222: Fullerton, CA: 33.8703645, -117.9242123
223: Springfield, MO: 37.2089572, -93.29229889999999
224: Los Angeles, CA: 34.0522342, -118.2436849
225: Indianapolis, IN: 39.768403, -86.158068
226: Portsmouth, VA: 36.8354258, -76.2982742
227: Baton Rouge, LA: 30.4514677, -91.18714659999999
228: Cantonsville, MD: 39.2720509, -76.73191609999999
229: Kalamazoo, MI: 42.2917069, -85.5872286
230: Lafayette, LA: 30.2240897, -92.0198427
231: Bowling Green, KY: 36.9685219, -86.4808043
232: Houston, TX: 29.7604267, -95.3698028
233: Emmitsburg, MD: 39.7045417, -77.32693069999999
234: Burlington, VT: 44.4758825, -73.21207199999999
235: Lexington, VA: 37.78402080000001, -79.4428157
236: Tallahassee, FL: 30.4382559, -84.28073289999999
237: Muncie, IN: 40.1933767, -85.3863599
238: Baltimore, MD: 39.2903848, -76.6121893
239: Chicago, IL: 41.8781136, -87.6297982
240: Kennesaw, GA: 34.0234337, -84.6154897
241: Durham, NC: 35.9940329, -78.898619
242: Cincinnati, OH: 39.1031182, -84.5120196
243: Baltimore, MD: 39.2903848, -76.6121893
244: Tulsa, OK: 36.1539816, -95.99277500000001
245: Santa Clara, CA: 37.3541079, -121.9552356
246: Las Cruces, NM: 32.3199396, -106.7636538
247: Buies Creek, NC: 35.4132168, -78.7355728
248: Bronx, NY: 40.8447819, -73.8648268
249: Los Angeles, CA: 34.0522342, -118.2436849
250: Stanford, CA: 37.42410599999999, -122.1660756
251: Troy, AL: 31.8087678, -85.969951
252: Allentown, PA: 40.6022939, -75.4714098
253: Eugene, OR: 44.0520691, -123.0867536
254: Peoria, IL: 40.6936488, -89.5889864
255: Austin, TX: 30.267153, -97.7430608
256: Rochester, NY: 43.15657789999999, -77.6088465
257: Villanova, PA: 40.0375832, -75.3491813
258: Durham, NH: 43.1339545, -70.9264393
259: Seattle, WA: 47.6062095, -122.3320708
260: Fort Collins, CO: 40.5852602, -105.084423
261: Dallas, TX: 32.7766642, -96.79698789999999
262: St. Bonaventure, NY: 42.0803426, -78.4750213
263: Hampton, VA: 37.0298687, -76.34522179999999
264: Huntsville, AL: 34.7303688, -86.5861037
265: Pittsburgh, PA: 40.44062479999999, -79.9958864
266: Bakersfield, CA: 35.3732921, -119.0187125
267: Atlanta, GA: 33.7489954, -84.3879824
268: Greenville, NC: 35.612661, -77.3663538
269: Orangeburg, SC: 33.4918203, -80.8556476
270: San Diego, CA: 32.715738, -117.1610838
271: Binghamton, NY: 42.09868669999999, -75.91797380000001
272: Bozeman, MT: 45.6769979, -111.0429339
273: Indianapolis, IN: 39.768403, -86.158068
274: Denton, TX: 33.2148412, -97.13306829999999
275: Loretto, PA: 40.5031263, -78.630296
276: Highland Heights, KY: 39.0331169, -84.4518854
277: Savannah, GA: 32.0808989, -81.091203
278: Raleigh, NC: 35.7795897, -78.6381787
279: Richmond, VA: 37.5407246, -77.4360481
280: Ames, IA: 42.0307812, -93.63191309999999
281: New Orleans, LA: 29.95106579999999, -90.0715323
282: San Antonio, TX: 29.4241219, -98.49362819999999
283: Detroit, MI: 42.331427, -83.0457538
284: Auburn, AL: 32.6098566, -85.48078249999999
285: New York, NY: 40.7127753, -74.0059728
286: Tulsa, OK: 36.1539816, -95.99277500000001
287: Lincoln, NE: 40.813616, -96.7025955
288: Laramie, WY: 41.3113669, -105.5911007
289: Newark, NJ: 40.735657, -74.1723667
290: Missoula, MT: 46.8721284, -113.9940314
291: West Point, NY: 41.3914827, -73.95597210000001
292: Greensboro, NC: 36.0726354, -79.7919754
293: Anchorage, AK: 61.2180556, -149.9002778
294: Greensboro, NC: 36.0726354, -79.7919754
295: Jonesboro, AR: 35.84229670000001, -90.704279
296: Chestnut Hill, MA: 42.9733581, -88.25120419999999
297: Jacksonville, FL: 30.3321838, -81.65565099999999
298: Coral Gables, FL: 25.7491968, -80.2635411
299: Los Angeles, CA: 34.0522342, -118.2436849
300: Storrs, CT: 41.8084314, -72.24952309999999
301: High Point, NC: 35.9556923, -80.0053176
302: Stillwater, OK: 36.1156071, -97.0583681
303: Edwardsville, IL: 38.8114364, -89.95315699999999
304: Staten Island, NY: 40.5795317, -74.1502007
305: El Paso, TX: 31.7618778, -106.4850217
306: Knoxville, TN: 35.9606384, -83.9207392
307: North Charleston, SC: 32.8771106, -80.0130514
308: Paradise, NV: 36.0971945, -115.1466648
309: Lubbock, TX: 33.5778631, -101.8551665
310: Brookings, SD: 44.3113573, -96.79838769999999
311: Lake Charles, LA: 30.2265949, -93.2173758
312: Reno, NV: 39.5296329, -119.8138027
313: Williamsburg, VA: 37.2707022, -76.7074571
314: Charleston, IL: 39.4961458, -88.1761521
315: Greensboro, NC: 36.0726354, -79.7919754
316: Lawrenceville, NJ: 40.3016375, -74.7361013
317: Montgomery, AL: 32.3792233, -86.3077368
318: Niceville, FL: 30.5168639, -86.48217199999999
319: Ypsilanti, MI: 42.2411499, -83.61299389999999
320: Minneapolis, MN: 44.977753, -93.2650108
321: Johnson City, TN: 36.3134397, -82.3534727
322: Moscow, ID: 46.73238749999999, -117.000165
323: Nashville, TN: 36.1626638, -86.7816016
324: Daytona Beach, FL: 29.2108147, -81.0228331
325: Garden City, NY: 40.7267682, -73.6342954
326: Boston, MA: 42.3600825, -71.0588801
327: Hartford, CT: 41.7658043, -72.6733723
328: Hammond, LA: 30.5043583, -90.46119949999999
329: Bowling Green, OH: 41.3747744, -83.6513229
330: College Park, MD: 38.9896967, -76.93776
331: Providence, RI: 41.8239891, -71.4128343
332: Tampa, FL: 27.950575, -82.4571776
333: Seattle, WA: 47.6062095, -122.3320708
334: Las Vegas, NV: 36.1699412, -115.1398296
335: Provo, UT: 40.2338438, -111.6585337
336: Jacksonville, AL: 33.8137125, -85.76135359999999
337: Cedar City, UT: 37.67747689999999, -113.0618931
338: Providence, RI: 41.8239891, -71.4128343
339: Kingston, RI: 41.48037910000001, -71.52255980000001
340: Katy, TX: 29.7857853, -95.8243956
341: Killeen, TX: 31.1171194, -97.72779589999999
342: Murfreesboro, TN: 35.8456213, -86.39027
343: Philadelphia, PA: 39.9525839, -75.1652215
344: Charlotte, NC: 35.2270869, -80.8431267
345: Savannah, GA: 32.0808989, -81.091203
346: Columbia, SC: 34.0007104, -81.0348144
347: Little Rock, AR: 34.7464809, -92.28959479999999
348: Green Bay, WI: 44.5133188, -88.0132958
349: Albuquerque, NM: 35.0843859, -106.650422
350: Jackson, MS: 32.2987573, -90.1848103
351: Davis, CA: 38.5449065, -121.7405167
352: Spartanburg, SC: 34.9495672, -81.9320482
353: Riverside, CA: 33.9806005, -117.3754942
354: DeLand, FL: 29.028318, -81.3031179
355: Tempe, AZ: 33.4255104, -111.9400054
356: Indianapolis, IN: 39.768403, -86.158068
357: Lake Buena Vista, FL: 28.3695351, -81.5261474
358: Buffalo, NY: 42.88644679999999, -78.8783689
359: Uniondale, NY: 40.7003793, -73.5929056
360: Newark, NJ: 40.735657, -74.1723667
361: Cullowhee, NC: 35.3137111, -83.1765333
362: Buffalo, NY: 42.88644679999999, -78.8783689

363: New Britain, CT: 41.6612104, -72.7795419
364: Greenville, SC: 34.85261759999999, -82.3940104
365: Los Angeles, CA: 34.0522342, -118.2436849
366: Jackson, MS: 32.2987573, -90.1848103
367: Albany, NY: 42.6525793, -73.7562317
368: Chapel Hill, NC: 35.9131996, -79.0558445
369: Memphis, TN: 35.1495343, -90.0489801
370: Dallas, TX: 32.7766642, -96.79698789999999
371: Rock Hill, SC: 34.9248667, -81.02507840000001
372: Charleston, SC: 32.7764749, -79.93105120000001
373: Richmond, KY: 37.7478572, -84.2946539
374: Blacksburg, VA: 37.2295733, -80.4139393
375: Salt Lake City, UT: 40.7607793, -111.8910474
376: Newark, DE: 39.6837226, -75.74965720000002
377: Radford, VA: 37.13179239999999, -80.5764477
378: Bangor, ME: 44.8016128, -68.7712257
379: North Little Rock, AR: 34.769536, -92.2670941
380: Louisville, KY: 38.2526647, -85.7584557
381: Hanover, NH: 43.7022451, -72.2895526
382: Milwaukee, WI: 43.0389025, -87.9064736
383: New Orleans, LA: 29.95106579999999, -90.0715323
384: Norfolk, VA: 36.8507689, -76.28587259999999
385: Rosemont, IL: 41.98675069999999, -87.8721602
386: Nashville, TN: 36.1626638, -86.7816016
387: Murray, KY: 36.6103334, -88.31476099999999
388: Lake Charles, LA: 30.2265949, -93.2173758
389: Davidson, NC: 35.4993031, -80.8486846
390: Grambling, LA: 32.5276503, -92.7140402
391: Honolulu, HI: 21.3069444, -157.8583333
392: Huntsville, TX: 30.7235263, -95.55077709999999
393: Uncasville, CT: 41.43169049999999, -72.1100945
394: Waco, TX: 31.549333, -97.1466695
395: Corpus Christi, TX: 27.8005828, -97.39638099999999
396: Princess Anne, MD: 38.2028993, -75.692427
397: Kansas City, MO: 39.0997265, -94.5785667
398: Orlando, FL: 28.5383355, -81.3792365
399: Las Vegas, NV: 36.1699412, -115.1398296
400: Normal, IL: 40.5142026, -88.9906312
401: Spokane, WA: 47.6587802, -117.4260465
402: Elon, NC: 36.09827620000001, -79.5115433
403: Ruston, LA: 32.5232053, -92.63792699999999
404: Orlando, FL: 28.5383355, -81.3792365
405: Dover, DE: 39.158168, -75.5243682
406: DeKalb, IL: 41.9294736, -88.75036469999999
407: Norman, OK: 35.2225668, -97.4394777
408: St. Louis, MO: 38.6270025, -90.19940419999999
409: Itta Bena, MS: 33.49512, -90.3198067
410: Abilene, TX: 32.4487364, -99.73314390000002
411: Houston, TX: 29.7604267, -95.3698028
412: Oxford, MS: 34.3664951, -89.5192484
413: Moraga, CA: 37.8349263, -122.1296871
414: Hamden, CT: 41.3838782, -72.9026064
415: West Hartford, CT: 41.7620842, -72.7420151
416: Tallahassee, FL: 30.4382559, -84.28073289999999
417: Macomb, IL: 40.4592076, -90.67179709999999
418: Thibodaux, LA: 29.7957633, -90.82287099999999
419: San Jose, CA: 37.3382082, -121.8863286

   venue_city venue_state venue_zip  number_games        lat         lng
0  Bridgeport          CT     06604            12  41.179226  -73.189438
1      Mobile          AL     36608            15  30.695366  -88.039891
2    Columbus          OH     43210            18  39.961176  -82.998794
3     Amherst          MA      1003            17  42.373222  -72.519854
4     Boulder          CO     80302            15  40.014986 -105.270546