In [2]:
import pandas
import matplotlib
from bokeh.plotting import figure, output_notebook, show

In [3]:
%load_ext google.cloud.bigquery
%matplotlib inline

In [4]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/home/mforde/google-creds/creds.json'
print('creds path: {}'.format(os.environ.get('GOOGLE_APPLICATION_CREDENTIALS')))

creds path: /home/mforde/google-creds/creds.json

In [26]:
%%bigquery
SELECT possession_arrow, COUNT(*)
FROM `bigquery-public-data.ncaa_basketball.mbb_pbp_sr`
WHERE game_id = "2be93048-4b1d-4ef3-bef4-bdeae78b2635"
GROUP BY possession_arrow
LIMIT 50

                       possession_arrow  f0_
0  1f99a164-d593-4d81-85d5-0d7889d6f486  444

In [25]:
print(event_types)

                       possession_arrow  f0_
0  1f99a164-d593-4d81-85d5-0d7889d6f486  444

In [27]:
%%bigquery sample_pbp
SELECT home_name, home_id, away_name, away_id, timestamp, game_clock, team_basket, possession_team_id, event_type, points_scored, event_coord_x, event_coord_y
FROM `bigquery-public-data.ncaa_basketball.mbb_pbp_sr`
WHERE game_id = "2be93048-4b1d-4ef3-bef4-bdeae78b2635"
ORDER BY game_clock DESC
LIMIT 50

In [28]:
sample_pbp.to_csv("sample_pbp_50.csv")

In [18]:
%%bigquery 
SELECT market, alias, id, school_ncaa
FROM `bigquery-public-data.ncaa_basketball.mbb_teams`
WHERE id = "1f99a164-d593-4d81-85d5-0d7889d6f486"

    market alias                                    id school_ncaa
0  Houston   HOU  1f99a164-d593-4d81-85d5-0d7889d6f486     Houston